html,body
  text-align center
  font-family Arial, tahoma
  margin 0
  padding 0

.welcome
  margin 0
  padding 2rem
  background #292929
  color #f6f6f6

#todo
  margin 2rem auto 
  ul
    li
      border-bottom 1px solid #ccc
      padding 1rem
      &:last-child
        border-bottom none